<!DOCTYPE html>
<html>
   
    <head>
        <meta charset="UTF-8">
        <title>Bienvenue !</title>
    </head>

<body>

    <h1>Route::{{title}}</h1>
    <table>
        <tr><th>Year</th>   <td>{{year}}</td></tr>
        <tr><th>Month</th>   <td>{{month}}</td></tr>
        <tr><th>Filename</th>   <td>{{filename}}</td></tr>
        <tr><th>ext</th>   <td>{{ext}}</td></tr>
    </table>

</body>
</html> 